<h1 mat-dialog-title>{{msg}}</h1>

<mat-dialog-content>
    <form [formGroup]="form">


        <div class="row">
            <div class="col">

                <mat-form-field appearance="fill"
                                class="w-100">

                    <input matInput
                           formControlName="value">

                </mat-form-field>


            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button
            (click)="onCancel()">
        Cancel
    </button>
    <button mat-button
            (click)="onSave()"
            cdkFocusInitial
            [disabled]="this.form.invalid">Save</button>
</mat-dialog-actions>