<mat-dialog-content>


  <div [ngStyle]=" colorOfCard ? {'border-top': 'solid 20px '+colorOfCard} : {'border-top' : 'solid 20px rgba(0,0,0,0)'}"
       class="row">

    <div class="col">
      <h1 class="top"
          mat-dialog-title>
        <mat-icon> web_asset </mat-icon>{{ card?.card_name }}
      </h1>

    </div>
    <div class="col-auto p-3">
      <button mat-button
              [matMenuTriggerFor]="menu">Change label</button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let color of this.allColors">
          <button mat-menu-item
                  (click)="saveColor(color.bgcolor)"
                  [ngStyle]=" color.choosed ? {'background-color': color.bgcolor, 'border': '#9c9c9c 5px solid'} :{'background-color': color.bgcolor}">

          </button>
        </ng-container>

      </mat-menu>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        {{ card?.content }}
      </p>

      <span>Change description:</span>
      <form [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill"
                            class="w-100">
              <input matInput
                     formControlName="content" />
            </mat-form-field>
          </div>
        </div>
      </form>
      <button type="button"
              mat-button
              (click)="onSave()">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>Comments:</p>

      <app-comment-section [allComments]="allComments"></app-comment-section>

      <form [formGroup]="formComment">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill"
                            class="w-100">
              <input matInput
                     formControlName="content" />
            </mat-form-field>
          </div>
        </div>
      </form>
      <button type="button"
              mat-button
              (click)="saveComment()">
        Add Comment
      </button>

    </div>
    <!--


    <div class="col-12">
      <table mat-table
             [dataSource]="this.allColors"
             class="mat-elevation-z8">

       
        <ng-container matColumnDef="bgcolor">
          <th mat-header-cell
              *matHeaderCellDef> Choose Label </th>
          <td [ngClass]="'hovered'"
              (click)="saveColor(element.bgcolor)"
              [ngStyle]=" element.choosed ? {'background-color': element.bgcolor, 'border': '#9c9c9c 5px solid'} :{'background-color': element.bgcolor}"
              mat-cell
              *matCellDef="let element"> </td>
        </ng-container>



        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  -->
  </div>

</mat-dialog-content>