<div class="all board-bg-{{ board?.color }}">

    <ng-container *ngIf="this.board; else loading">
        <div class="row p-3 m-0 board-title-row">
            <div class="col-12 col-md-auto">
                <h1 class="m-0 align-middle">
                    <button mat-icon-button
                            (click)="onBackClick()">
                        <mat-icon>
                            arrow_back
                        </mat-icon>
                    </button>
                    {{ board.board_name }}
                </h1>
            </div>

            <div class="col-auto">
                <ng-container *ngIf="!board.archived; else archiveButton">
                    <button mat-button
                            (click)="onArchiveClick()">Archive</button>

                </ng-container>
                <ng-template #archiveButton>
                    <button mat-button
                            (click)="onActivateClick()">Activate</button>

                </ng-template>
            </div>
            <div class="col-auto">

                <button mat-button
                        [matMenuTriggerFor]="colorMenu">Color</button>
                <mat-menu #colorMenu="matMenu">
                    <button *ngFor="let color of colors"
                            mat-menu-item
                            class="board-bg-{{color}}"
                            (click)="changeBoardColor(color)"></button>
                </mat-menu>


            </div>
            <div class="col-auto">
                <button mat-button
                        (click)="onRenameClick()">
                    Rename
                </button>
            </div>
        </div>





        <div class="row p-0 m-0 flex-row flex-nowrap"
             cdkDropList
             [cdkDropListData]="board.lists"
             cdkDropListOrientation="horizontal"
             class="example-list"
             (cdkDropListDropped)="dropList($event)"
             cdkDropListGroup>
            <!-- lists -->




            <ng-container *ngFor="let list of this.getListsSorted()">
                <div class="col-auto p-1">
                    <mat-card cdkDrag
                              [cdkDragData]="list"
                              class="mat-card-list mat-elevation-z4">



                        <div class="row p-0 m-0 w-100">
                            <div class="col-auto">
                                <mat-icon cdkDragHandle
                                          class="visible-on-hover">
                                    drag_handle
                                </mat-icon>
                            </div>
                            <div class="col mat-h2 m-0 {{list.archived ? 'opacity-2' : ''}}">
                                {{ list.list_name }}
                            </div>
                            <div class="col-auto">
                                <button mat-icon-button
                                        [matMenuTriggerFor]="menu"
                                        class="visible-on-hover">
                                    <mat-icon>
                                        more_horiz
                                    </mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">



                                    <button mat-menu-item
                                            [matMenuTriggerFor]="otherBoards">
                                        <mat-icon>content_cut</mat-icon>
                                        <span>Move to another board</span>
                                    </button>
                                    <mat-menu #otherBoards="matMenu">
                                        <button *ngFor="let b of this.allBoards$ | async"
                                                mat-menu-item
                                                class="board-bg-{{b.color}}"
                                                [disabled]="b.id === list.board_id"
                                                (click)="moveListToAnotherBoard(list, this.board, b)">
                                            {{b.board_name}}
                                        </button>
                                    </mat-menu>



                                    <button mat-menu-item
                                            (click)="setListArchivedState(list, !list.archived)">
                                        <mat-icon>{{ list.archived? 'unarchive' : 'archive' }}</mat-icon>
                                        <span>{{ list.archived? 'Restore' : 'Archive' }}</span>
                                    </button>



                                    <button mat-menu-item
                                            *ngIf="list.archived"
                                            (click)="onListDeleteClick(list)"
                                            [disabled]="list?.cards?.length >= 1 || (false && !list.archived)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                    </button>
                                    <button mat-menu-item
                                            (click)="onListRenameClick(list)">
                                        <mat-icon>create</mat-icon>
                                        <span>Rename</span>

                                    </button>
                                </mat-menu>

                            </div>
                        </div>


                        <mat-card-content>

                            <div class="row p-0 m-0 flex-row flex-nowrap"
                                 cdkDropList
                                 cdkDropListOrientation="vertical"
                                 class="list-cards"
                                 [cdkDropListData]="list"
                                 [cdkDropListConnectedTo]
                                 (cdkDropListDropped)="dropCard($event, list)">

                                <ng-container *ngFor="let card of list.cards">

                                    <mat-card cdkDrag
                                              [cdkDragData]="card"
                                              class="mat-card-card mat-elevation-z4 m-1">



                                        <div class="row">
                                            <div class="col-auto">
                                                <mat-icon cdkDragHandle
                                                          class="visible-on-hover">
                                                    drag_handle
                                                </mat-icon>

                                            </div>
                                            <div class="col mat-h3 {{card.archived ? 'opacity-2' : ''}}">
                                                <span (click)="onCardNameClick(list, card)">
                                                    {{ card.card_name }}
                                                </span>

                                            </div>
                                            <div class="col-auto">
                                                <button mat-button
                                                        [matMenuTriggerFor]="menu"
                                                        class="visible-on-hover">
                                                    <mat-icon>
                                                        more_horiz
                                                    </mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">




                                                    <button mat-menu-item
                                                            (click)="setCardArchivedState(list, card, !card.archived)">
                                                        <mat-icon>{{ card.archived? 'unarchive' : 'archive' }}
                                                        </mat-icon>
                                                        <span>{{ card.archived? 'Restore' : 'Archive' }}</span>
                                                    </button>



                                                    <button mat-menu-item
                                                            *ngIf="card.archived"
                                                            (click)="onCardDeleteClick(list, card)"
                                                            [disabled]="false && !card.archived">
                                                        <mat-icon>delete</mat-icon>
                                                        <span>Delete</span>
                                                    </button>
                                                    <button mat-menu-item
                                                            (click)="onCardRenameClick(list, card)">
                                                        <mat-icon>create</mat-icon>
                                                        <span>Rename</span>

                                                    </button>



                                                </mat-menu>


                                            </div>
                                        </div>


                                        <!--
                                        <mat-card-content>
                                            {{ card.content ? card.content : '' }}
                                        </mat-card-content>
                                        -->

                                    </mat-card>


                                </ng-container>



                            </div>


                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button
                                    class="w-100"
                                    color="accent"
                                    (click)="onNewCardClick(list)">New card</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </ng-container>




            <div class="col-auto p-1">
                <mat-card class="mat-card-list mat-elevation-z1">
                    <button mat-button
                            class="w-100"
                            color="accent"
                            (click)="onNewListClick()">New list</button>
                </mat-card>
            </div>

        </div>
    </ng-container>

    <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>

    </ng-template>

</div>