<mat-card class="board-card ">



    <ng-container *ngIf="this.board; else new_board">



        <mat-card-header class="text-truncate">
            <mat-card-title class=" w-100 text-truncate {{board.archived ? 'board-archived' : ''}}">
                {{board.board_name}}
            </mat-card-title>
        </mat-card-header>


        <mat-card-content>
        </mat-card-content>


        <mat-card-actions>
            <button mat-flat-button
                    color="primary"
                    (click)="onOpenClick()">Open</button>
            <ng-container *ngIf="!board.archived; else archiveButton">
                <button mat-stroked-button
                        (click)="onArchiveClick()">Archive</button>

            </ng-container>
            <ng-template #archiveButton>
                <button mat-stroked-button
                        (click)="onActivateClick()">Activate</button>

            </ng-template>
        </mat-card-actions>




    </ng-container>

    <!--
        <form [formGroup]="this.form">
                <mat-form-field class="w-100">
                    <input matInput
                           type="text"
                           placeholder="New board name"
                           formControlName="board_name">
                </mat-form-field>
            </form>
    -->
    <ng-template #new_board>



        <mat-card-header class="text-truncate">
    
            <mat-card-title class=" w-100 text-truncate w-100">
                ...
            </mat-card-title>
        
            
            
        </mat-card-header>

        <mat-card-content>


        </mat-card-content>


        <mat-card-actions>
            <button mat-flat-button
                    color="accent"
                    (click)="onCreateClick()">
                Create new board
            </button>

        </mat-card-actions>



    </ng-template>








</mat-card>