<div class="example-container">

    <mat-toolbar color="accent" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        
        <a routerLink=""><h1 class="example-app-name"> Trecllone </h1></a>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="'over'" fixedTopGap="56">
            <mat-nav-list>
                <ng-container *ngIf="user">
                    <a (click)="snav.toggle()" mat-list-item routerLink="logout">Log out</a>
                    <a (click)="snav.toggle()" mat-list-item routerLink="boards">Boards</a>
                </ng-container>
                <ng-container *ngIf="!user">
                    <a (click)="snav.toggle()" mat-list-item routerLink="login">Log in / Sign in</a>
                </ng-container>
                <mat-divider></mat-divider>
                <a (click)="snav.toggle()" mat-list-item routerLink="test">test</a>
                <a (click)="snav.toggle()" mat-list-item routerLink=".">brrr</a>
                <a (click)="snav.toggle()" mat-list-item routerLink=".">brrr</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>